# Arquivos e diretórios gerados pelo Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambientes virtuais
# Use o nome do seu diretório de ambiente virtual, como 'venv' ou '.venv'
# Se o seu ambiente for chamado 'env', descomente a linha abaixo
# env/
venv/
.venv/
.env

# Dependências
# Ignora o diretório onde o pip instala as bibliotecas
# Se você tiver um diretório 'lib', descomente a linha abaixo
# lib/

# Arquivos gerados por editores e IDEs
# VSCode
.vscode/

# PyCharm
.idea/
*.iml

# Arquivos de teste e dados
.coverage
.pytest_cache/
htmlcov/
.nox/

# Arquivos temporários e de log
*.log
*.tmp

# Arquivos de dados confidenciais
# Se você tiver arquivos de configuração com credenciais
config.ini
*.env
.env.local
.DS_Store # Arquivos do macOS
